<table border="1">
    <thead>
        <tr>
            <th colspan="4"><%= @cat.name %></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Attribute</td>
            <td>Vlaue</td>
        </tr> 
        <tr>
            <td>Age:</td>
            <td><%= @cat.age %></td>
        </tr>
        <tr>
            <td>Birth Date</td>
            <td><%= @cat.birth_date %></td>
        </tr>
        <tr>
            <td>color</td>
            <td><%= @cat.color %></td>
        </tr> 

        <tr>
            <td>Sex:</td>
            <td><%= @cat.sex %></td>
        </tr> 
    </tbody>
</table>